

<!-- Main entry point for HTML templating -->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='default-smallscreen.css') }}">
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='medium-screen.css') }}">

	<title></title>

	 <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"> </script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">

</head>
<body class="container">
		
		<!-- insert navigation -->
		{% include "/navigation/navigation.html" %}

		<!-- insert messages -->
		{% include "/messages/messages.html" %}

		<!-- insert page content -->
		{% block content %}
		{% endblock %}
		<!-- end page content -->

		<!-- #TODO, footer here? -->
</body>
</html>