{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h1>All employers</h1>

	<div class="">
		<a href="{{url_for('routes.viewEmployerAll')}}">
		New Employer
	</a>

{% for i in employers %}

<div>

    <div class = 'name'>
		<p>{{i.name}}</p>
	</div>

	</div>

	<div class="">
		<a href="{{url_for('routes.viewEmployer', employer_id = i.id)}}">
		View
	</a>

	<div class="">
		<a href="{{url_for('routes.editEmployer', employer_id = i.id)}}">
		Edit
	</a>

	</br>

	<a href="{{url_for('routes.deleteEmployer', employer_id = i.id)}}">
		Delete
	</a>

	</br>
	</br>

</div>

{% endfor %}


{% endblock %}