{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h1 class="title">{{employer.name}}</h1>

<div class="gallery">
	<div class="buttonHolder">		
		<a class="newItemButton" href="{{url_for('routes.newJob', employer_id = employer.id, job_id = jobs.id )}}">
			Create new job</a>

		<a class="editItemButton" href="{{url_for('routes.editEmployer', employer_id = employer.id)}}">
			Edit Employer</a>

		<a class="cancelItemButton" href="{{url_for('routes.deleteEmployer', employer_id = employer.id )}}">
			Delete Employer</a>
	</div>
</div>

<h2>Jobs</h2>

<div class="gallery">
{% for i in jobs %}
	<div class = 'gallery-item'>

		<h3>{{i.header}}</h3>
		<p>{{i.salary}} </p>
		<p>{{i.category.name}}</p>
		<p>{{i.description}}</p>
		
		<div class="editdeletepane">
			<a href="{{url_for('routes.editJob', employer_id = employer.id, job_id = i.id)}}">
				Edit
			</a>
		</div>

		<div>
			<a href="{{url_for('routes.deleteJob', employer_id = employer.id, job_id = i.id )}}">
				Delete
			</a>
		</div>

	</div>
{% endfor %}
</div>

{% endblock %}