{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h1>{{employer.name}}</h1>

<a href="{{url_for('routes.newJob', employer_id = employer.id, job_id = jobs.id )}}">
	Create new job
</a>

</br>

<div class="">
	<a href="{{url_for('routes.editEmployer', employer_id = employer.id)}}">
	Edit Employer
</a>
</div>

<a href="{{url_for('routes.deleteEmployer', employer_id = employer.id )}}">
	Delete Employer
</a>

</br>
</br>

<h2>Jobs</h2>

{% for i in jobs %}

<div>

    <div class = 'nameAndPrice'>
		
		<span class = 'header'>
			<h3>{{i.header}}</h3>
		</span>

		<span class = 'salary'>
			<p>{{i.salary}} </p>
		</span>

		<span class = 'category'>
			<p>{{i.category.name}}</p>
		</span>

	</div>

	<div class="description">
		<p>{{i.description}}</p>
	</div>


	</div>

		<div class="editdeletepane">
			<a href="{{url_for('routes.editJob', employer_id = employer.id, job_id = i.id)}}">
			Edit
		</a>

		</br>

		<a href="{{url_for('routes.deleteJob', employer_id = employer.id, job_id = i.id )}}">
			Delete
		</a>

		</br>
		</br>

</div>

{% endfor %}


{% endblock %}