*.pyc
node_modules
.npm-debug.log
tmp
/methods/login/client_secrets.json
/methods/fb_client_secrets.json
fullstack/vagrant/.vagrant/machines/default/virtualbox/id
fullstack/vagrant/.vagrant/machines/default/virtualbox/private_key