{% extends "base.html" %}
{% set active_page = "newCategory" %}
{% block content %}

<h1 class="title"> New Category </h1>

<form class="newItemForm" action="{{ url_for('routes.newCategory')}}" method = 'post'>

	<input class="newItemInput" type ='text' name='name' placeholder="Category Name">

	<div class="buttonHolder">

		<input class="newItemButton" type='submit' value='Create'> 

		<a href = '{{url_for('routes.viewCategoryAll')}}' class="cancelItemButton">
		Cancel
		</a>
	</div>

</form>


{% endblock %}
