
<!-- TODO Review code -->

{% extends "base.html" %}

{% block content %}
  <h2>Editting comment</h2>
  
  {{post.renderNoButtons() | safe}}

    <form method="post">
      <label>
        <div>comment</div>
        <textarea name="comment">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Update Comment" class="btn btn-primary">
    </form>

    <a href="/" class="btn btn-sm btn-warning glyphicon glyphicon-ban-circle"> </a>
    
{% endblock %}
