
<!-- TODO Review code -->

{% extends "base.html" %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h4 class="panel-title">Edit post</h4>
  </div>

    <div class="panel-body">
        <form method="post" >
          
            <div class="input-group">
              <input type="text" name="subject" placeholder="Subject" value="{{subject}}" class="form-control">

              <textarea name="content" placeholder="A journey of a thousand miles starts with one step..." class="form-control">{{content}}</textarea>

              <div class="error">{{error}}</div>
            </div>

          <input type="submit" value="Update Post" class="btn btn-sm btn-primary">

          <a href="/" class="btn btn-sm btn-warning glyphicon glyphicon-ban-circle"> </a>

        </form>

      </div>
  </div>

{% endblock %}
