
<!-- TODO Review code -->

{% extends "base.html" %}

{% block content %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h4 class="panel-title">Editting comment</h4>
  </div>
  
  <div class="panel-body">
    
      {{post.renderNoButtons() | safe}}

    <form method="post">
      <label>
        <div>comment</div>
        <textarea name="comment" class="form-control">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Update Comment" class="btn btn-primary">

      <a href="/" class="btn btn-sm btn-warning glyphicon glyphicon-ban-circle"> </a>

    </form>
  </div>   
</div>

{% endblock %}
