
<!-- TODO Review code -->

{% extends "base.html" %}

{% block content %}
  <h2>Edit post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" value="Update Post" class="btn btn-sm btn-primary">
    </form>

    <a href="/" class="btn btn-sm btn-warning glyphicon glyphicon-ban-circle"> </a>

{% endblock %}
