
{% extends "base.html" %}
{% set active_page = "home" %}
<!-- Extend HTML from base html template -->

{% block content %}
	<!-- Render posts (var p) with html declared as safe -->
	
		{% if error %}
			<div class="alert alert-danger"> {{error}} </div>
		{% endif %}

		{% if alert %}
			<div class="alert alert-warning"> {{alert}} </div>
		{% endif %}


	<div class="panel panel-default">
		{% for p in posts %}
			<div class="list-group-item">

				{{ p.render() | safe }}

			</div>

		{% endfor %}

	</div>

{% endblock %}