
{% extends "base.html"%}
<!-- Extend HTML from base html template -->

{% block content %}


<html>
<head>
	<title>Login</title>
	<style type="text/css">

	</style>
</head>
<body>

    {% if error %}
      <div class="alert alert-warning"> {{error}} </div>
    {% endif %}

	<h2>Login</h2>
	<form method="post">
		
		<div>
			<p> Username </p>
			<input type="text" name="username" value="{{username}}">
		</div>

		<div>
			<p> Password </p>
			<input type="password" name="password" value="">
		</div>
		<br>
		<div>
			<input type="submit" value="Login" class="btn btn-primary">
		</div>

	</form>
	
</body>
</html>

{% endblock %}