{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h3 class="title"> Edit Job</h3>

<form class="job-item" action="{{ url_for('routes.editJob',employer_id = employer_id, job_id=job.id)}}" method = 'post'>

<input type ='text' name='header' value = '{{job.header}}' placeholder="Header">
<input type ='text' name = 'description' rows='5' value = '{{job.description}}' placeholder="Description">
<input type = 'text' name='salary' value = '{{job.salary}}' placeholder="Salary">

	<div class="categories-list">
	{% for category in categories %}
		{% if category.name == job.category.name %}
			<div>
				<input type ='radio' name='category' value='{{category.id}}' checked="checked" >{{category.name}}
			</div>
		{% else %}
			<div>
				<input type ='radio' name='category' value='{{category.id}}'>{{category.name}}
			</div>
		{% endif %}
	{% endfor %}
	</div>

<input type='submit' value='Edit' class="editItemButton">

<a href = '{{url_for('routes.viewEmployer', employer_id = employer_id)}}' class="cancelItemButton"> Cancel </a>

</form>


{% endblock %}