{% extends "base.html" %}
{% set active_page = "TODO" %}
{% block content %}

<h3 class="title"> New Job </h3>

<form class="job-item" action="{{ url_for('routes.newJob',employer_id = employer_id )}}" method = 'post'>

		<input type ='text' name='header' placeholder="Header">
		<textarea name = 'description' rows='5' placeholder="Description"></textarea></dd>
		<input type = 'text' name='salary' placeholder="Salary">
		
		<div class="categories-list">
			{% for i in categories %}
				<div>
					<input type ='radio' name='category' value='{{i.name}}'>{{i.name}}
				</div>
			{% endfor %}
		</div>


	<input type='submit' value='Create' class="newItemButton">

	<a href = '{{url_for('routes.viewEmployerAll')}}' class="cancelItemButton"> Cancel </a>

</form>


{% endblock %}
