{% extends "base.html" %}
{% set active_page = "jobs" %}
{% block content %}

<div class = 'gallery-item'>
	<h3>{{job.header}}</h3>
	<p>{{job.salary}} </p>
	<p>{{job.category.name}}</p>
	<p>{{job.description}}</p>
</div>

<div class="buttonHolder">
	
	<a class="editItemButton" href="{{ url_for('routes.editJob', employer_id=job.employer.id, job_id=job.id)}}"> Edit </a>
 
	<a class="cancelItemButton" href="{{ url_for('routes.deleteJob', employer_id=job.employer.id, job_id=job.id)}}"> Delete </a>

</div>


{% endblock %}